@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  font-family: 'DM Sans', sans-serif;
  transition: background .4s ease-in;
  background-color: #3A0D72;
  
  &.blue {
    background-color: #428aa6;
  }
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 70px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #note-3, #item-2:checked ~ .cards #note-1, #item-3:checked ~ .cards #note-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #note-2, #item-2:checked ~ .cards #note-3, #item-3:checked ~ .cards #note-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #note-1, #item-2:checked ~ .cards #note-2, #item-3:checked ~ .cards #note-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  
  
}

img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.player {
  background-color: #fff;
  border-radius: 8px;
  min-width: 320px;
  padding: 16px 10px;
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 36px;
  overflow: hidden;
}

.note-info {
  display: block;
}

.note-info .title {
  color: #000000;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
}

.sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.progress-bar {
  height: 3px;
  width: 100%;
  background-color: #e9efff;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #7129dc;
  border-radius: 6px;
}

.info-area {
  width: 100%;
  position: absolute;
  top: 0;

  transition: transform .4s ease-in;
}

#item-2:checked ~ .player #test {
  transform: translateY(0);
}

#item-2:checked ~ .player #test  {
  transform: translateY(-40px);
}

#item-3:checked ~ .player #test  {
  transform: translateY(-80px);
}

.button-all {
  background-color: #c394f8;
  border: none;
  cursor: pointer;
  width: 46px;
  height: 46px;
  border-radius: 30px;
  transition: all 0.2s;
  display: flex;
  margin: 0 0 140px;
}

.button-all:hover{
  background-color: #6e0a96;
}

.button-all a{
  color: #000000;
  text-decoration: none;
  align-items: center;
  display: flex;
  padding: 15px;
}